:root {
	--primary-color: #0898A0;
	--gap: 32px;
	--gap-quarter: calc(var(--gap) / 4);
	--gap-half: calc(var(--gap)/2);
	--gap-2x: calc(var(--gap) * 2);
	--gap-4x: calc(var(--gap) * 4);
	--accents-1: #FAFAFA;
    --accents-2: #EAEAEA;
    --accents-3: #999;
    --accents-4: #2D2D2D;
    --accents-5: #111;
	--background: "white";
    --foreground: var(--accents-4);
	--huge-font: 3.5rem;
}

html {
    line-height: 1.5;
    -webkit-text-size-adjust: 100%;
    -moz-tab-size: 4;
    tab-size: 4;
    font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
	padding-bottom: 100px;
}

*, ::before, ::after {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
	box-sizing: border-box;
	appearance: none;
	outline: none;
	border: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: TomatoGrotesk,sans-serif;
    line-height: 1.25;
}

a {
	color: var(--primary-color)
}

.light-theme {
	color: var(--foreground);
	background-color:var(--background);
}



.text-primary {
   color: var(--primary-color)
}
.text-normal {
	color: var(--foreground);
}

.huge-header {
	font-size: var(--huge-font);
}

.header-big {
	font-size: calc(var(--huge-font) * 0.6);
	color: var(--accents-4);
}

.header-normal {
	font-size: calc(var(--huge-font) * 0.45)
}

@media only screen and (max-width: 500px) {
	h1, h2, h3, h4, h5 {
		--huge-font: 2.8rem
	}
}
@media only screen and (max-width: 400px) {
	h1, h2, h3, h4, h5 {
		--huge-font: 2.3rem
	}
}


@media only screen and (min-width: 1100px) {
	body, main {
		display: flex;
		flex-direction: column;
		align-items: center;
	}
	.main-hero {
		width: 1100px;
	}
	
}

.main-hero {
	padding-inline: var(--gap);
}

.nav-container {
	display: flex;
	justify-content: space-between;
	padding-top: var(--gap);
	padding-bottom: var(--gap);
	align-items: center;

}
.logo-container {
	display: grid;
	place-items: center;
}
.nav-links-container {
	display: flex;
	gap: var(--gap);
	font-size: 1.15rem;
}

@media only screen and (max-width: 800px) {
	.nav-links-container {
		display: none
	}
}

.link-current {
	position: relative;
	font-weight: bold
}
.link-current::after {
	position: absolute;
	content: "";
	height: 7px;
	width: 7px;
	background-color: var(--primary-color);
	border-radius: 50%;
	bottom: -5px;
	left: 50%;
	transform: translateX(-50%;)
}
.has-prompt {
	position: relative;
}
.has-prompt:hover + .prompt {
	display: block;
}

.prompt {
	display: none;
	position: absolute;
	width: 200px;
	color: var(--primary-color);
	padding: var(--gap-half);
	box-shadow: 0 0 10px -5px var(--accents-3);
	border-radius: 5px;
}

.humburger-container {
	display: none;
}

.h-line {
	background-color: var(--primary-color);
	height: 3px;
	width: 20px;
}

.h-line:nth-child(1), .h-line:nth-child(3) {
	width: 10px
}
.h-line:nth-child(1) {
	align-self: flex-end;
}


.hero-image-container {
	flex-basis: 100%;
	justify-content: center;
}

@media only screen and (max-width: 800px) {
	.humburger-container {
		display: flex;
		flex-direction: column;
		gap: 5px;
	}
}

.main-flex {
	display: flex;
	align-items: center;
	width: 100%;
	gap: var(--gap);
	margin-top: var(--gap-2x)
}

@media only screen and (max-width: 800px) {
	.main-flex {
		flex-direction: column;
	}
	
	.hero-text-container {
		text-align: center;
		padding-inline: 15%;
		transform: translateY(0) !important;
	}
	.text-80 {
		max-width: 100%
	}
}

.hero-text-container {
	flex-basis: 100%;
	display: flex;
	flex-direction: column;
	gap: var(--gap-half);
	transform: translateY(-40px)
}

@media only screen and (min-width: 800px) {
	.text-80 {
	max-width: 80%;
  }
	
}

.hero-image-container {
	flex-basis: 80%;
	display: flex;
	justify-content: flex-end
}
.hero-image-container > div {
	width: min(90%,250px);
}

.hero-image-container img {
	width:100%;
	aspect-ratio: 1/2;
	border-radius: 25px;
	box-shadow:  0 0 50px -10px var(--accents-3);
	animation: bouncing 1s linear infinite alternate;
}	



@-webkit-keyframes bouncing {
	from {transform: translateY(-30px);
	}
	to { 
		transform: translateY(0)
	}
}
@-o-keyframes bouncing {
	from {transform: translateY(-30px);
	}
	to { 
		transform: translateY(0)
	}
}
@-moz-keyframes bouncing {
	from {transform: translateY(-30px);
	}
	to { 
		transform: translateY(0)
	}
}
@keyframes bouncing {
	from {transform: translateY(-30px);
	}
	to { 
		transform: translateY(0)
	}
}

.hero-btns-cont {
	display: flex;
	gap: var(--gap-half);
	margin-top: var(--gap);
}

@media only screen and (max-width: 800px) {
	.hero-btns-cont {
		justify-content: center;
	}
	.hero-image-container {
	flex-basis: 100%;
	justify-content: center;
		margin-top: var(--gap-2x)
   }
}

@media only screen and (max-width: 350px) {
	.hero-btns-cont {
	flex-direction: column;
	align-items: center;
	gap: var(--gap-half);
	}
}
.app-store-button {
	display: flex;
	justify-content: center;
	padding: .7em .9em;
	border-radius: 10px;
	align-items: center;
	gap: 5px;
	background-color: var(--accents-4);
	width: max-content;
	color: white;
	margin: 0;
	line-height: 1
}


.text-sm {
	font-size: .8rem;
}

.text-bold {
	font-weight: bold;
}

.blog-features-container {
	margin-top: var(--gap-2x);
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	flex-shrink: 1;
}


.sect-primary {
	display: flex;
	align-items: center;
}

@media only screen and (max-width: 800px) {
	.sect-primary {
		flex-direction: column;
		text-align: center;
		padding-inline: 15%
	}
}

@media only screen and (max-width: 400px) {
	.main-hero {
		padding-inline:
			var(--gap-half)
	}
	.sect-primary {
		padding-inline: 0
	}
}

.reverse-order, .resverse-order2 {
	order: 2;
}

@media only screen and (max-width: 800px) {
	.reverse-order, .resverse-order2 {
	order: 0;
}
}

@media only screen and (max-width: 450px) {
	.sect-p-svg-container > svg {
	width: 100%
}
}


.sect-p-text-container {
	display: flex;
	flex-direction: column;
	gap: var(--gap-half)
}


.asserts-t-con {
	text-align: center;
}

.assert-items-container {
	display: flex;
	gap: var(--gap-half)
}

@media only screen and (max-width: 850px) {
	.assert-items-container {
		flex-direction: column;
		gap: var(--gap);
	}
}

.text-faded {
	color: var(--accents-3)
}

.assert-item {
	padding-top: 150px;
	border-radius: 15px;
	margin: var(--gap-2x) 0;
	box-shadow: 0 0 5px var(--accents-2);
	background-color: #F6F2FF;
	flex-basis: 100%;
	
}
.assert-item:nth-child(1){
	background-color:#FFF4F0;
}
.assert-item:nth-child(3){
	background-color: #DBFFF8
}

.assert-i-content-container {
	display: grid;
	place-items: center;
	text-align: center;
	position: relative;
	background-color: white;
	padding: var(--gap-half);
	height: 100%;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
	padding-top: 0;

}

@media only screen and (max-width: 800px) {
	.assert-i-content-container {
		padding-inline: 10%;
	}
}

.assert-i-content-container h2 {
	margin-bottom: var(--gap)
}

.assert-icon-container img {
	transform: translateY(-50%);
	border: 10px solid white;
	border-radius: 50%;
	width: 90px;
	height: 90px;
}

.risk-info {
	margin-top: var(--gap);
	margin-bottom: var(--gap-half)
}

.build-img-container img {
	width: min(90%,600px)
	
}

@media only screen and (max-width: 800px) {
	.build-cont {

		display: grid;
		place-items: center;
	}
}

.btn {
	color: var(--btn-color);
	font-size: 1rem;
	background-color: var(--btn-bg-color);
    padding: .9em .9em;
	border-radius: 5px;
	margin-top: var(--gap);
	cursor: pointer;
	width: max-content;
}

.style-sect {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: var(--gap-4x);
	gap: var(--gap-2x)
}

.u-style-cont {
	flex-basis: 100%;
	flex-grow: 1;
}

.u-style {
	background-color:var(--u-bg-color);
	width: 100%;
	height: 200px;
	filter: blur(40px);
	mix-blend-mode: multiply
    
}


.style-sect .content {
	text-align: center;
}

@media only screen and(max-width: 350px) {
	.u-style-cont {
		display: none;
	}
}

@keyframes marq {
	from { transform: translateX(100%) }
	to { transform: translateX(-100%) }
}

.testimo-card {
	width: 300px;
	padding: var(--gap);
	box-shadow: 0 0 10px -5px var(--primary-color);
	border-radius: 15px;
	flex-shrink: 0;
}

.testimo-card > p {
	color: red;
	white-space: pre-wrap
}
.testimo-profile {
	display: flex;
	align-items: center;
	gap: var(--gap-half)
}


.testimo-cards-container {
	display: flex;
	flex-shrink: 0;
}
.testimo-profile {
	margin-top: var(--gap);
}
.testimo-profile img {
	height: 40px;
	width: 40px;
}

.comm-content {
	display: flex;
	flex-direction: column;
	gap: var(--gap);
	width: 90%
}
@media only screen and (max-width: 800px) {
	.comm-content {
		display: grid;
		place-items: center;
		grid-gap: var(--gap);
		width: 100%
	}
}


.comm-img-cont {
	width: min(100%,500px)
}

.comm-img-cont > img {
	width:100%;
}

.download-content {
	display: grid;
	grid-gap: var(--gap)
}
.down-sec-dv {
	display: flex;
	flex-basis: 80%;
	justify-content: center;
}

.sect-dw {
	margin-top: var(--gap-4x) !important;
	background-color: #E6F5F6;
	padding: var(--gap); 
	border-radius: 25px;
	gap:var(--gap-2x);
	height: 550px;
	overflow-y: hidden;
}
.rise-p-cont {
	width: min(100%,250px);
}


.rise-p-cont img {
	width: 100%
}

@media only screen and (max-width: 800px) {
	.download-content {
		display: grid;
		place-items: center;
	}
	.down-sec-dv {
		margin-top: var(--gap);
	}
}

.footer-header {
	font-weight: 700;
	color: var(--accents-4)
}

footer {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-top: var(--gap-4x);
	gap: var(--gap-2x)
}

footer-content-container {
	width: min(90%,300px)
}
.footer-content {
	margin-top: var(--gap);
	display: grid;
	grid-gap: var(--gap-half)
}

.footer-link {
	font-size: 1.2rem;
	color: var(--accents-4);
	cursor: pointer;
}





