:root {
	--primaryColor: #0c1825;
	--theBlue: #0d60d8;
	--gap: 30px;
	--gap-half: calc(var(--gap)/2);
	--gap-double: calc(var(--gap) * 2);
	--gap-4x: calc(var(--gap) * 4);
	--lightGray: lightgray;
	--darkGray: darkgray;
	--textSmall: .8rem;
	--accents-1: #FAFAFA;
  --accents-2: #EAEAEA;
  --accents-3: #999;
  --accents-4: #444;
  --accents-5: #111;
}
html {
	font-family: DM Sans,sans-serif!important;
}

*, :after,:before {
	border: none;
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style: none;
	text-decoration: none;
}

.light {
	--background: white;
	--foreground: var(--primaryColor);
    --gray: var(--lightGray);	
}

.dark {
	--background: var(--primaryColor);
	--foreground: white;
	--gray: var(--darkGray);
	--accents-1: var(--accents-5);
	--accents-2: var(--accents-4);
}


h1, h2, h3, h4, h5, h6 {
    font-family: U8-Bold !important;
    font-weight: 700;
    color: var(--foreground);
}

body {
	background-color: var(--background);
	color: var(--foreground)
}

.btn {
	padding: var(--gap-half);
	padding-inline: var(--gap);
	font-weight: bold;
	color: var(--foreground);
	border-radius: 15px;
	background-color: transparent;
	cursor: pointer;
	transition: all .5s linear
}

.btn-light {
	border: 1px solid var(--gray);
}

.btn-light:hover {
	border: 1px solid var(--theBlue);
	color: var(--theBlue)
}

.btn-heavy {
	background-color: var(--foreground);
	color: var(--background)
}

.btn-heavy:hover {
	background-color: var(--theBlue) 
}
header {
	position: fixed;
	width: 100%;
	background-color: var(--background);
	z-index: 9999999
}

nav {
	width: 100%;
	padding: var(--gap);
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.nav-links-container {
	display: flex;
	gap: var(--gap)
}

.nav-btns-container {
	display: flex;
	gap: var(--gap)
}
a {
	color: var(--foreground)
}
.nav-links-container {
	
}

.nav-link {
	
}

#save-link {
	position: relative
}

#save-link:hover > .save-prompt{
	display: grid;
}

.save-prompt:hover {
	display: grid;
}

.save-prompt {
	display: none;
	position: absolute;
	grid-template-columns: 1fr  1fr;
	border-radius: 5px;
	box-shadow: 0 0 5px var(--gray);
	transform: translate(-30%,0);
	background-color: var(--background);
	
}

.save-item {
	display: flex;
	gap: calc(var(--gap-half) * 0.8);
	align-items: center;
	padding: var(--gap-half);
	padding-inline: var(--gap)
}
.save-item:hover {
	background-color: var(--gray)
}
.save-item p {
	white-space: nowrap;
	font-size: .7rem;
}

.save-item-png {
	height: 30px;
	width: 30px;
}
.s-flex {
	display: flex;
}

.hero {
	padding-inline: var(--gap)
}

.hero-content-container {
	padding-top: 100px;
}

.header-huge {
	font-size: 5rem;
	font-weight: 900;
	margin-bottom: var(--gap);
}
.n-text {
	margin-bottom: var(--gap-half);
	line-height: 1.7 
}
.style-link {
	position: relative;
	color: var(--theBlue)
}
.style-link:hover::after {
	width: 100%;
	background-color: var(--theBlue);
}
.style-link::after {
    position: absolute;
	left: 0;
	bottom: 0;
	opacity: 0.3;
	content: "";
	width: 0;
	height: 5px;
	background-color: var(--theBlue);
	transition: width .3s
}
.store-container {
	display: flex;
	gap: var(--gap)
}

.app-store-container {
	display: flex;
	padding: 12px;
	padding-inline: 10px;
	align-items: center;
	gap: 5px;
	border: 1px solid var(--gray);
	border-radius: 10px;
	cursor: pointer
}


.main-image-container {
	padding-top: 200px;
	padding-left: 50px;
}

.header-image {
	
}
.hi2 {
	margin-top: -900px;
	margin-left: -50px;
}

.sec-security {
	align-items: center;
	margin-top: var(--gap-4x);
	margin-bottom: var(--gap-4x);
	padding-inline: var(--gap);
	gap: var(--gap)
}

.security-image-cont {
	flex-basis: 30%;
	display: flex;
	justify-content: flex-end;
}
.security-image {
	height: 130px; width:100px;
	align-self: flex-end
}
.security-content {
	flex-basis: 60%
}

.header-big {
	margin-bottom: var(--gap-half);
	font-size: 2.5rem;
}

.four-ways-container {
	display: flex;
	flex-wrap: wrap;
	row-gap: 50px;
	justify-content: space-around;
	align-content: center;
}

.four-ways-item {
	max-width: 330px;
	padding: var(--gap);
	border-radius: 5px;
}

.four-ways-item:not(:first-child) {
	background-color: var(--accents-1);
}

.four-ways-item:not(:first-child):hover > a {
	transform: translateX(10px)
}

.four-ways-item > p {
	height: 100px;
}

.four-ways-item a {
	display: flex;
	align-items: center;
	gap: var(--gap-half);
	transition: transform .3s
}

.item-logo-container {
	margin-bottom: var(--gap)
}
.item-logo-container img {
	height: 50px;
	width: 50px;
}

.header-normal {
	margin-bottom: var(--gap-half)
}

.invest-sec {
	display: flex;
	align-items: center;
	gap: 70px;
	margin-top: var(--gap-4x);
	
}

.invest-img img {
	width: 250px;
	height: 550px;
	margin-left: 120px;
}

.invest-img {
	position: relative;
}
.invest-img svg{
	position: absolute;
	top: 25px;
	margin-left: 25px;
}
.invest-img svg:first-of-type{
	z-index: -1;
	left: 0;
	top: 100px;
	margin-left: 0;
}
.invest-inner {
	width: 70%;
}
.h-bigger {
	font-size: 3.2rem;
	margin-bottom: var(--gap)
}
.invest-style {
	color: var(--dotColor);
	font-size: 1rem;
	padding: var(--gap-half);
	border-radius: 25px;
	font-weight: bold;
	background-color: var(--accents-1);
	width: fit-content;
	margin-bottom: calc(var(--gap-half) * 3)
}

.customer-container {
	margin-top: var(--gap-4x);
	margin-bottom: var(--gap-4x);
	display: grid;
	grid-template-columns: 4fr 3fr;
}
.c-m-in {
	padding: var(--gap-double);
	padding-inline: var(--gap-half)
}

.c-m-inner {
	width: 70%;
}

.customer-image {
	background-image: url(headerImg.png);
	background-repeat: no-repeat;
	background-size: cover
}

.happy-customer-container {
	background-color: var(--accents-1);
	padding: var(--gap);
	max-width: 400px;
	margin-bottom: var(--gap);
	border-radius: 10px;
}
.c-info-container {
	display: flex;
	gap: 10px;
}

.c-info-text {
	word-break: keep-all
}

.c-info-container > img {
	width: 50px;
	height: 30px;
	border-radius: 50%
}

.marq-container {
	border-radius: 15px;
	width: 90%;
	position: relative
}

.overlay {
	position: absolute;
	width: 100%;
	background: linear-gradient(0,var(--background),transparent, transparent, transparent,var(--background));
	z-index: 1;
	height: 100%
}

.h-c-time {
	font-size: .8rem;
	text-align: right;
	color: var(--accents-3)
}

.c-t-main-sect {
	display: flex;
	flex-basis: 50%;
	gap: var(--gap-half);
	align-items: center;
	margin-bottom: var(--gap-4x)
}

.a-milli {
	width: 70%
}

.app-store-container {
	margin-top: var(--gap)
}

.features {
	padding: var(--gap-double);
	display: flex;
	background-color: var(--accents-2);
	margin-bottom: var(--gap-4x);
	justify-content: space-between;
	align-items: center;
}

.features img {
	width: 200px;
	height: 50px;
}







