* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
}

:root {
	--rootPadding: 1em;
	--navPadding: 2em;
	--gradientColorZero: #a960ee;
    --gradientColorOne: #ff333d;
    --gradientColorTwo: #90e0ff;
    --gradientColorThree: #ffcb57;
    --gradientColorZeroTransparent: rgba(169,96,238,0);
    --gradientColorOneTransparent: rgba(255,51,61,0);
    --gradientColorTwoTransparent: rgba(144,224,255,0);
    --gradientColorThreeTransparent: rgba(255,203,87,0);
	--textColor: #3a3a3a;
    --accentColor: #0a2540;
	--accentColorT:#635bff;
	--backgroundColor: #f6f9fc;
}
body {
	margin-bottom: 5em;
}

.nav-container {
	display: flex;
	justify-content: space-between;
	padding: 1em var(--navPadding);
	align-items: center
}
.logo {
	color: white;
	font-weight: bold
}
.nav-container ul {
	display: flex;
	flex-basis: 50%;
	justify-content: space-between;
	align-items: center
}
.nav-list-links li {
	list-style: none;
}
a {
	text-decoration: none;
	color: white
}
.animated-link {
	
	padding: .5em .8em;
	border-radius: 1em
}

.action-link {
	color: var(--accentColorT)
}
.animated-link:hover .hover-arrow .hover-arrow-tip{
	transform: translateX(.15em)
}
.animated-link:hover .hover-arrow .hover-arrow-line {
	display: block
}

.hover-arrow {
	position: relative;
    top: 1px;
    stroke-width: 2px;
	fill: none;
    stroke: currentColor;
}
.hover-arrow .hover-arrow-line{
	display: none;
}
.link-fav-action {
	background-color: var(--accentColor)
}
.link-fav-action-accent {
	background-color: var(--accentColorT)
}

.link-sec-action {
	color: var(--accentColor)
}

.gradient-container {
	position: absolute;
    bottom: 0;
    z-index: -1;
	top: -130px;
    width: 100%;
    min-width: 1000px;
    height: 500px;
    transform: skewY(-13deg);
    overflow: hidden;
    border: none;
	overflow-x: hidden;
}
}
.gradient {
	position: relative;
    display: block;
    width: inherit;
    height: 100%;
}

.gradient:after {
    content: "";
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(var(--gradientColorZero) 40%,var(--gradientColorTwoTransparent) 60%) -620px -180px no-repeat,radial-gradient(var(--gradientColorThree) 33%,var(--gradientColorThreeTransparent) 67%) -120px -24px no-repeat,radial-gradient(var(--gradientColorTwo) 40%,var(--gradientColorTwoTransparent) 70%) -470px -150px no-repeat,var(--gradientColorZero);
	background-repeat: repeat-y
}



.main-landing {
	display: flex;
	width: 100%;
	margin-top: 60px;
	gap: 20px;
}


.main-left{
	flex-basis: 60%;
    padding-top: 65px;
	padding-left: calc(var(--rootPadding) + var(--navPadding));
}

.main-heading {
	flex-basis: 60%;
	font-size: 6em;
	width: 100%;
	letter-spacing: -.1em;
	line-height: 1;
	color: var(--textColor);
	opacity: .9;
	mix-blend-mode: color-burn;
}
.heading-message{
	margin-top: 1em;
	font-size: 1.59em;
	color: var(--textColor);
	margin-bottom: 2em;
	max-width: 90%;
}

.main-right {
	position: relative;
    width: 40%;
	height: 700px;
	overflow-x: hidden;
	
}
.glass-effect {
	z-index: -1;
	position: absolute;
	height: 550px;
	top: 0px;
	font-size: 10px;
	padding: 10px;
	color: white;
	right: -80px;
	border-radius: 8px;
	background: linear-gradient(hsla(0,0%,100%,.4),hsla(0,0%,100%,.3) 25%,rgba(246,249,252,.3) 50%,#f6f9fc 60%);
	box-shadow: inset 0 1px 1px 0 hsl(0deg 0% 100%/10%), 0 50px 100px -20px rgb(50 50 93/25%),
	0 30px 60px -30px rgb(0 0 0/3);
}

.glass-nav {
	display: flex;
    align-items: center;
	gap: 50px;
}
.g-nav-t {
	display: flex;
	align-items: center;
}

.glass-search {
	display: flex;
	align-items: center;
	background-color: white;
	width: 110px;
	padding: 3px 2px;
	border-radius: 5px;
	color: var(--textColor)
}
.glass-search-icon {
	margin-top: 3px;
	height: 8px;
	width: 11px;
}

.summary-container {
	background-color: white;
	height: 210px;
	margin-left: 150px;
	margin-top: 35px;
	color: var(--textColor);
	box-shadow: -1px 2px 3px -3px black;
	font-size: 11px;
}

.toolbar {
	padding: 1.3em;
	border-bottom: 1px solid lightgrey;
}
.toolbar h1 {
	font-size: inherit;
}
.toolbar p {
	margin-top: .6em;
}
.summary-data {
  padding: 1.3em;
 
}
.summary-data :is(h4,h5) {
	margin-bottom: .4em
}
.summary-data h4 {
	font-size: 15px;
}
.summary-data h5 {
	font-size: 18px;
	color: blue;
}
.summary-graph {
	height: 50px;
	padding-left: 1.5em;
}

.summary-footer {
	padding-left: 1.5em;
	border-top: 1px solid lightgrey;
}

.increment-phone-container {
	margin-top: 60px;
	box-shadow: 0px 20px 60px -20px gray;
	height: 550px;
	width: 270px;
	margin-left: 20px;
	background-color: azure;
	padding: 5px;
	border-radius: 25px;
}


.phone-container {
	background-color: white;
	border-radius: 25px;
	height: 100%;
	padding: 1em;
	
	overflow-x: hidden;
}

.phone-top {
   text-align: center;
   margin-bottom: 1.5em
}

.image-container {
	position: relative;
	height: 110px;
}
.increment-image {
	position: absolute;
	left: 50%;
	transform: translate(-50%,0);
	width: 50px;
	height: 100px;
}
.increment-image:nth-of-type(2){
	top: 10px;
	transform: translateX(-30%);
}
.phone-top h6 {
	color: gray;
}

.increment-button{
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	width:  100%;
	background-color: var(--accentColor);
	color: white;
	padding: .5em;
	border-radius: 5px;
	margin-top: 20px;
}

.increment-button svg {
	fill: white;
	width: 15px;
	height: 20px;
}

.divider {
	position: relative;
	text-align: center;
	overflow-x: hidden;
	color: var(--textColor)
}

.divider::before {
	position: absolute;
	content: "";
	width: 45%;
	height: 1px;
	background-color: lightgrey;
	left: -50px;
	top: .5em;
}

.divider::after {
	position: absolute;
	content: "";
	width: 45%;
	height: 1px;
	background-color: lightgrey;
	right: -50px;
	top: .5em;
}  

.pseudo-input {
	border: 1px solid lightgrey;
	height: 1.5em;
	border-radius: 5px;
	color: var(--textColor);
	padding: .2em;
	overflow: hidden
}
.no-b-radius {
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}

.no-t-radius {
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	border-top: none;
}
.input-label {
	margin-top: 10px;
	color: var(--textColor)
}

.secu-details {
	display: flex;
	
}
.secu-details div {
	flex-basis: 50%;
	border-top: none;
}

.no-r-border {
	border-right: none;
	border-bottom-right-radius: 0;
}
.no-l-radius {
	border-bottom-left-radius: 0;
}

.customer-logo-container {
	display: grid;
	margin-top: 30px;
	margin-bottom: 50px;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-row-gap: 60px;
	padding: calc(var(--rootPadding) + var(--navPadding))
}

.product-info-container {
	display: flex;
	background-color: var(--backgroundColor);
	padding-left: calc(var(--rootPadding) + var(--navPadding));
	align-items: center;
	padding-top: 100px;
	gap: 40px;
	padding-bottom: 20px;
}

.product-info-container div {
	flex-basis: 50%
}

.info-heading {
	color: var(--accentColorT);
	font-weight: normal;
	font-size: 1.5rem;
	margin-bottom: .7em;
}

.info-heading-2 {
	color: var(--textColor);
	font-size: 2rem;
	margin-bottom: 1.4em
}

.info-text {
	color: var(--textColor);
	font-size: 1.2rem;
	margin-bottom: 2.5em;
}

.info-right {
	padding-right: calc(var(--rootPadding) + var(--navPadding))
}

.info-right p {
	max-width: 90%;
	margin-top: 100px;
}

.diagrams-container {
	padding-top: 50px;
	display: flex;
	width: 100%;
	background-color: var(--backgroundColor)
}

.d-first{
    padding: 50px 20px;
	flex-basis: 40%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.card {
	position: relative;
	background-color: black;
	height: 200px;
	width: 300px;
	padding: 20px;
	border-radius: 25px;
	color: white;
	overflow: hidden;
	box-shadow: 0 10px 60px -10px gray;
}

.card-head {
	display: flex;
	justify-content: space-between;
}

.card-text {
	font-size: 14px;
	font-weight: normal
}

.card-end {
	height: 80px;
	width: 80px;
	background-color: yellow;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	right: -50px;
	border-radius: 50%;
}


.card-body-blob {
	position: relative;
	height: 18px;
	left: 55%;
	top:30px;
	width: 30px;
	border-radius: 0  12px 12px 30px;
	background-color: yellow
}

.card-body-blob::after {
	content: "";
	position: absolute;
	top: -25px;
	left: -35px;
	height: 18px;
	width: 30px;
	border-radius: 30px 12px 12px 0;
	background-color: lightgrey;
}

.card-body-blob::before {
	content: "";
	position: absolute;
	top: -10px;
	right: -50px;
	height: 12px;
	width: 10px;
	border-radius: 0 0 10px 10px;
	background-color: lightgrey;
}
.card-chip-container {
	margin-bottom: 50px;
	width: 70px;
	margin-left: 20px;
}


.card-foot {
	align-items: center
}


.diagram-phone {
	align-self: flex-end;
	margin-top: 50px;
	background-color: lightgray;
	width: 270px;
	padding: 2px;
	padding-top: 1px;
	border-radius: 40px;
	background: #f6f9fc;
	box-shadow: 0 0 50px -10px gray;
}

.d-phone-2{
	padding: 5px;
	background-color: white;
	border-radius: 40px;
	height: 100%;
	box-shadow: 0 10px 100px -60px lightgrey;
}
.d-phone-3 {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: relative;
	background-color: lightgrey;
	border-radius: 35px;
	height: 100%;
	padding-bottom: 5px;
}

.d-phone-top {
	padding: 20px 10px 15px 10px;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}
.d-phone-top button {
	margin-top: 10px;
}

.nice-header {
	color: var(--textColor);
	letter-spacing: 2px;
}
.glasses {
	margin: 15px 0;
}

.d-phone-top p {
	margin-top: 5px;
	font-size: 0.7rem
}
.d-i-container {
	display: flex;
	gap: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}
.d-indicators {
	position: relative;
	height: 10px;
	width: 10px;
	background-color: var(--accentColor);
	border-radius: 50%;
}

.d-indicators:nth-of-type(1)::after {
content: "";
position: absolute;
height: 12px;
width: 12px;
top: -3px;
left: -3px;
border-radius: 50%;
border: 2px solid var(--accentColor
)
	
}

.yellow {
	background-color: var(--accentColorT)
}
.green {
	background-color: lightblue
}
.blue {
	background-color: orange
}

.d-phone-bottom {
  display: flex;
 flex-direction: column;
  background-color: white;
  border-radius: 10px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 97%;
  padding-left: 10px;
}
.prompt-pay-c {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-left: 5px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 5px;
	border-bottom: 1px solid lightgrey;
}

.p-com {
	display: flex;
	align-items: center;
	font-weight: bold;
	font-size: 15px;
}
.p-com svg {
	width: 20px;
	height: 15px;
}
.p-cancel {
	font-size: .7rem;
	color: deepskyblue
}

.payment-detail {
  display: flex;
	margin-left: 5px;
	align-items: center;
  border-bottom: 1px solid lightgrey;
  padding: 8px;
	gap: 10px;
}

.d-phone-visa {
  
  width: 10px;
  height:10px;
  margin-left: auto;
  align-self: flex-start;
  flex-basis: 25%;
}

.p-info {
	flex-basis: 25%;
	font-size: .65rem;
	font-weight: lighter;
	align-self: flex-start;
	text-align: right;
}
.p-d-inner {
	flex-basis: 80%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: .6rem;
	word-break: break-all;
	color: var(--textColor)
}

.p-d-inner p {
	flex-basis: 70%;
}
.p-d-inner svg {
	width: 10px;
	height: 7px;
}


.face-container {
	margin-top: 15px;
	display: flex;
	justify-content: center;
	height: 50px;
	width: 50px;
	align-self: center;
	
}
.face-container svg {
  height: 25px;
  width: 25px;
  opacity: .3;
}

.d-second {
	padding: 50px 0;
	flex-basis: 70%;
	padding-left: 50px;
}
.d-second-top {
	display: flex;
	flex-basis: 50%;
}

.slack {
   position: relative;
   background-color: white;
   width: 77%;
   box-shadow: 0 10px 100px -30px gray;
	overflow: hidden;
	border-radius: 8px;
	display: grid; 
	place-items: center;
	padding: 50px 0;
}

.slack::before {
	content: "";
	top:0;
	left: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: var(--backgroundColor);
}

.slack::after {
	content: "";
	left:0;
	position: absolute;
	width: 100%;
	height: 100%;
    background-color: purple;
	clip-path: polygon(0 0, 100% 0, 100% 35%, 0 65%)
}

.slack-inner {
	display: flex;
	flex-direction: column;
	align-items: center;
	z-index: 1;
	background-color: white;
	width: 350px;
	border-radius: 5px;
	box-shadow: 0 10px 100px -60px gray;
}

.slack-logo {
	width: 50px;
	height: 50px;
	border-radius: 50%;
	margin-top: -25px;
	box-shadow: 0 0 1px gray;
	background-color: white;
	margin-bottom: 10px;
}

.slack-inner p {
	font-size: 12px;
	color: var(--textColor)
}

.slack-pay {
	display: flex;
	margin-top: 5px;
	padding: 20px 50px;
	flex-direction: column;
	align-items: center;
	width: 100%;
	height: auto;
	background-color: var(--backgroundColor)
}
.slack-pay p {
	font-size: 11px;
}

.slack-input {
	margin-top: 10px;
	width: 100%;
	color: var(--textColor)
}
.s-container {
	display: flex;
	flex-direction: row;
	margin-bottom: 10px;
	gap: 20px;
}
.s-container {
	
}
.ss-input {
	display:flex;
	align-items: center;
	height: 25px;
	width: 100%;
	padding: 0 5px;
	font-size: 11px;
	box-shadow: 1px 1px 5px lightgrey;
	background-color: white;
	border-radius: 3px;
	color: gray;
}

.s-slack {
	border: 2px solid purple
}
.f-input {
	display: grid;
	grid-template-columns: 5fr 2fr 1fr
}

.i-slack {
	background-color: purple
}











@media only screen and (min-width: 900px) {
	.gradient:after {
		background: radial-gradient(var(--gradientColorThree) 23%,var(--gradientColorThreeTransparent) 67% 100%) 385px -24px,radial-gradient(var(--gradientColorOne) 0,var(--gradientColorOneTransparent) 60% 100%) -940px 290px,radial-gradient(var(--gradientColorTwo) 10%,var(--gradientColorTwoTransparent) 60% 100%) -120px 250px,radial-gradient(var(--gradientColorOne) 40%,var(--gradientColorOneTransparent) 57% 100%) 495px -44px,radial-gradient(var(--gradientColorZero) 30%,var(--gradientColorZeroTransparent) 67% 100%) 122px -120px,radial-gradient(var(--gradientColorZero) 10%,var(--gradientColorZeroTransparent) 60% 100%) -420px 120px,radial-gradient(var(--gradientColorTwo) 15%,var(--gradientColorTwoTransparent) 50% 100%) -620px 0,radial-gradient(var(--gradientColorTwo) 25%,var(--gradientColorTwoTransparent) 50% 100%) 520px -250px,var(--gradientColorZero);
    background-repeat: repeat-y;
	}
}


